

body{
  width: 1280px;
  height: 1653px;
  margin:auto;
  background-color: rgb(245,245,245);
}
header{
    width: 1280px;
    height: 204px;
  background-color: rgb(242,242,242);
}
.logo{
  float: left;
  margin-top: 1%;
  margin-left:112px;
  width: 225px;
  height:135px;
}
.title{
  float: left;
  font-size: 80px;
  margin-left:15%;
  margin-top: 2%;
  font-family: 微軟正黑體,Microsoft JhengHei, 新細明體, PMingLiU;
}
#artical{
  width:1280px;
  height: 1449px;
  background-image: url(https://raw.githubusercontent.com/Lwhite0720/midterm/master/images/home_back.jpg);
  background-size: contain;
}
#block{
  width:1280px;
  height: 525px;
}
.content{
  font-family: 微軟正黑體,Microsoft JhengHei, 新細明體, PMingLiU;
  color: inherit;
  text-decoration:none;
  float: left;
  font-size: 110px;
  margin-left: 11.1%;
  margin-top: 6.8%;
  padding-top:65px;
  padding-left:320px;
  padding-right:320px;
  padding-bottom: 65px;
  border: 2px solid #2F4F4F;
  /*background-color: rgb(130,185,225);*/

}
.content:hover  {
	background-color: rgba(137,148,239,0.2);
  color:rgb(67,135,152);
}
.footer{
float: left;
margin-top: 73px;
border-top: 2px solid rgb(27,45,205);
width: 1280px;
}
.word{
  font-family: 微軟正黑體,Microsoft JhengHei, 新細明體, PMingLiU;
  text-align: center;;

  font-size: 18px;
  /*float: left;*/
  margin-bottom: -10px;
}
