
body{
  width: 1280px;
  height: 1653px;
  margin:0 0 0 0;
}
header{
    width: 1280px;
    height: 204px;
  background-color: rgb(242,242,242);
}
.logo{
  float: left;
  margin-top: 1%;
  margin-left:112px;
  width: 225px;
  height:135px;
}
.title{
  float: left;
  font-size: 48px;
  margin-left:15%;
  margin-top: 4%;
  font-family: 微軟正黑體,Microsoft JhengHei, 新細明體, PMingLiU;
}
#artical{
  width:1280px;
  height: 1449px;
  background-image: url(https://raw.githubusercontent.com/Lwhite0720/midterm/master/images/background.jpg);
  background-size: contain;
}
.bar{
  width: 100%;
  height: 0.1%;
  background-color: rgb(31,78,121);
}
.inf_img{
  width: 21%;
  height: 16%;
  float:left;
  margin: 2% 2% 2% 2%;
  border: 1px solid #000000;
}
.house_img{
  width: 100%;
  height: 100%;
}
.content{
  font-family: 微軟正黑體,Microsoft JhengHei, 新細明體, PMingLiU;
  color: inherit;
  text-decoration:none;
  float: left;
  font-size: 110px;
  margin-left: 11.1%;
  margin-top: 6.8%;
  padding-top:65px;
  padding-left:320px;
  padding-right:320px;
  padding-bottom: 65px;
  border: 2px solid #2F4F4F;
  /*background-color: rgb(130,185,225);*/

}
.content:hover  {
	background-color: #B0E0E6;
}
.footer{
float: left;
margin-top: 73px;
border-top: 2px solid rgb(195,195,195);
width: 1280px;
}
.word{
  font-family: 微軟正黑體,Microsoft JhengHei, 新細明體, PMingLiU;
  text-align: center;;

  font-size: 18px;
  /*float: left;*/
  margin-bottom: -10px;
}
